body {
    --color-block-line: rgb(65, 65, 65);
}

/********* Structure *********/

.draw-element {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draw-element .svg-element {
    flex: 1;
}

.draw-element .pixel {
    fill: #fff;
}

.group-grid-line > line {
    stroke: grey;
    stroke-width: 0.3px;
    pointer-events: none;
}

/********* Menu *********/

.draw-element .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: #4c4c4c;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.draw-element .menu-button {
    padding: 5px 15px;
    border-right: 1px solid #c7c7c7;
    background-color: #f7f7f7;
}

.draw-element .menu-button:hover {
    background-color: #e8e8e8;
}

/********* Color Picker *********/

.color-picker {
    position: absolute;
    background-color: white;
    border: solid 1px #ccc;
    opacity: 1;
    padding: 5px;
    visibility: hidden;
}

.color-picker .color-picker-block {
}

.color-picker .color-picker-strip {
    padding-left: 5px;
}

.color-picker canvas:hover {
    cursor: crosshair;
}

.color-picker .color-picker-render {
    padding-top: 5px;
    display: block;
}

.color-picker .color-picker-block-line {
    position: absolute;
    width: 2px;
    background-color: var(--color-block-line);
    pointer-events: none;
}
